{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post">
            <!-- csrf to security reason, Django needed it to work     -->
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    Log In
                </legend>
                <!-- .as_p means format as paragraph -->
                <!-- {{ form.as_p }} -->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info">
                    Log In
                </button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                You Need An Account? <a class="ml-2" href="{% url 'register' %}">Sing Up</a>
            </small>
        </div>
    </div>
{% endblock content %}
